ALF.Tools/ALF.SL.UploadWeb/Service References/SilverlightUploadServiceReference/SilverlightUploadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StoreFileAdvanced">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="dataLength" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="firstChunk" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="lastChunk" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreFileAdvancedResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelUploadResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StoreFileAdvancedSoapIn">
    <wsdl:part name="parameters" element="tns:StoreFileAdvanced" />
  </wsdl:message>
  <wsdl:message name="StoreFileAdvancedSoapOut">
    <wsdl:part name="parameters" element="tns:StoreFileAdvancedResponse" />
  </wsdl:message>
  <wsdl:message name="CancelUploadSoapIn">
    <wsdl:part name="parameters" element="tns:CancelUpload" />
  </wsdl:message>
  <wsdl:message name="CancelUploadSoapOut">
    <wsdl:part name="parameters" element="tns:CancelUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="SilverlightUploadServiceSoap">
    <wsdl:operation name="StoreFileAdvanced">
      <wsdl:input message="tns:StoreFileAdvancedSoapIn" />
      <wsdl:output message="tns:StoreFileAdvancedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <wsdl:input message="tns:CancelUploadSoapIn" />
      <wsdl:output message="tns:CancelUploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SilverlightUploadServiceSoap" type="tns:SilverlightUploadServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreFileAdvanced">
      <soap:operation soapAction="http://tempuri.org/StoreFileAdvanced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <soap:operation soapAction="http://tempuri.org/CancelUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SilverlightUploadServiceSoap12" type="tns:SilverlightUploadServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreFileAdvanced">
      <soap12:operation soapAction="http://tempuri.org/StoreFileAdvanced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelUpload">
      <soap12:operation soapAction="http://tempuri.org/CancelUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SilverlightUploadService">
    <wsdl:port name="SilverlightUploadServiceSoap" binding="tns:SilverlightUploadServiceSoap">
      <soap:address location="http://localhost:56696/SilverlightUploadService.asmx" />
    </wsdl:port>
    <wsdl:port name="SilverlightUploadServiceSoap12" binding="tns:SilverlightUploadServiceSoap12">
      <soap12:address location="http://localhost:56696/SilverlightUploadService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>